<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div
      style="
        /* background-image: url(./frame.png);
        background-size: cover; */
        background-color: #6941c6;
      "
    >
      <table style="width: 100%">
        <tbody>
          <tr>
            <td colspan="12" style="text-align: center">
            </td>
          </tr>
          <tr>
            <td colspan="12">
              <div
                style="
                  margin: 0 30px;
                  background-color: white;
                  border-radius: 12px 12px 0 0;
                  padding: 40px 30px;
                "
              >
                <h1
                  style="
                    color: #344054;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 44px;
                  "
                >
                  Welcome, User
                </h1>
                <p
                  style="
                    font-size: 16px;
                    font-weight: 400;
                    color: #667085;
                    line-height: 24px;
                    margin: 30px 0;
                  "
                >
                  Congratulations! You're just one step away from unlocking the
                  full potential of Example. To get started, please click on the
                  link below to activate your account:
                  <br /><br />
                  <a href="" style="text-decoration: none; color: #6941c6"
                    >www.example.com/activation</a
                  >
                  <br /><br />
                  Once your account is activated, you'll have access to a world
                  of [features/benefits] tailored just for you. If you have any
                  questions or need assistance, feel free to reach out to our
                  support team at [Support Email/Phone]. <br /><br />
                  Thank you for choosing [Your Platform]. We're thrilled to have
                  you on board!
                </p>
                <p
                  style="
                    font-size: 16px;
                    font-weight: 400;
                    color: #667085;
                    line-height: 24px;
                    margin: 0 0 30px 0;
                  "
                >
                  Best,<br />
                  Jhon
                </p>
                <hr style="margin-bottom: 30px" />
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <a href="">
                          <img
                            src="https://pngimg.com/d/facebook_logos_PNG19750.png"
                            width="24"
                            style="margin: 0 10px 0 0"
                            height="24"
                            alt=""
                        /></a>
                        <a href="">
                          <img
                            src="https://img.freepik.com/free-vector/new-2023-twitter-logo-x-icon-design_1017-45418.jpg?size=338&ext=jpg&ga=GA1.1.1448711260.1706745600&semt=ais"
                            width="24"
                            style="margin: 0 10px"
                            height="24"
                            alt=""
                        /></a>
                        <a href="">
                          <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png"
                            width="24"
                            style="margin: 0 10px"
                            height="24"
                            alt=""
                        /></a>
                        <a href="">
                          <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/480px-LinkedIn_logo_initials.png"
                            width="24"
                            style="margin: 0 10px"
                            height="24"
                            alt=""
                        /></a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="12">
                        <h3
                          style="
                            font-size: 16px;
                            font-weight: 400;
                            color: #667085;
                            line-height: 24px;
                            margin: 30px 0;
                          "
                        >
                          (C) 2024 SMSPro, all right reserved
                        </h3>
                        <p
                          style="
                            color: #98a2b3;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                            margin-bottom: 30px;
                          "
                        >
                          If you would like to find out more about SMSPro entity
                          you receive services from, please reach out to us via
                          the in-app chat in the SMSPro
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="12">
                        <p
                          style="
                            color: #667085;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 18px;
                          "
                        >
                          Click here to
                          <span
                            ><a
                              href=""
                              style="color: #6941c6; text-decoration: none"
                              >Unsubscribe</a
                            ></span
                          >
                          from this newsletter
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
